global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'astarte-services'
    static_configs:
      - targets:
          - astarte-realm-management:4000
          - astarte-data-updater-plant:4000